<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:custom-tag="http://custom-tag.sbt.sapphires.market.com">
<head>
</head>
<body>
    <header th:fragment="menu(main, sub)">
        <nav class="navbar fixed-top navbar-expand-md navbar-dark" style="background-color: #0070C0;"><!-- ★ -->
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/toppage}">
                        <span th:text="#{common.product}"></span>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ">
                            <a class="nav-link waves-effect waves-light" th:href="@{/}">何か</a><!-- ★ -->
                        </li>
                        <li sec:authorize="hasAuthority('Administrators')" class="nav-item dropdown">
                            <a th:classappend="${main eq 'settings' ? 'active' : ''}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span th:text="#{menu.settings}"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a th:classappend="${sub eq 'users' ? 'active' : ''}" class="dropdown-item" th:href="@{/users}">
                                    <span th:text="#{menu.users}"></span>
                                </a>
                            </div>
                        </li>
                    </ul>

                    <div class="right-nav">
                        <span custom-tag:login-user></span>
                        <form method="post" th:action="@{/logout}">
                            <input type="submit" value="logout"><!-- ★ -->
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</body>
